body{
    background: rgb(0, 1, 37);
}
#carouselExampleCaptions{
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
  }
#butonbuscar{

    background: rgb(16, 21, 26);
    color: aliceblue;
    border-color: rgb(205, 205, 218);
}
#butonbuscar:hover{
    background: rgb(106, 110, 201);

    color: rgb(211, 207, 201) !important;
    transform: scale();

}

.card{
    background:rgb(26, 35, 58) ;
    color: aliceblue;
    
    
    
    margin-top: 30px;
}
.card:hover{
    transform: scale(1.1);
}

.imgpubli{
   
    margin-top: 30px;
    
    width: 100%;
    
}
.videopubli{
   
    margin-top: 10px;
    
    width: 100%;
}
#footdx{
margin-top: 50px;

}

.dxdx{
    
    display: flex;
    justify-content: center;
}
aside{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}
.imgdx{
    width: 150px;
    height: 150px;
    border-radius: 500px;
}
.imgdx:hover{
transform: scale(1.1);

}
aside ul li a:hover{
     font-size: 1.5rem;
    
  
}
.logodx{
width: 130px;
height: 70px;
border-radius: 5px;
}
.titulopag{
    color: aliceblue;
    text-align: center;
}
