* {
	margin: 0;
	padding: 0;
	
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
    background: rgb(64, 73, 62);
}
/* *{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: 500px;
}
.menu{
    display: flex;
    margin-top: 0px;
    position: absolute; 
} */

/* .menu_nav,a{
    padding-left: 10px;
    text-decoration: none;
    
    list-style: none;
    color: white;
    border-radius: 10px;
}

.menu_nav:hover{
    transform: scale(1.2);
    background: rgb(103, 173, 118);
} */

/* header{
    background-image: url(file:///D:/Repositorio_Webll/WebRepositorioGozu/imagenes/cd.jpg);
	width: 100%;
    padding-bottom: 850px;
    background-size: cover;
	background-attachment: fixed;
	background-position: center ;

} */
/* header .menuss {
	position: relative;
	height: 700px;

}
header .menu {
	width: 100%;
	text-align:right;
} */

main h1{
    padding-top: 10px;
    color: #eee;
    text-align: center;
}
/* Header */
header {
	width: 100%;
	background-image: url(file:///D:/Repositorio_Webll/WebRepositorioGozu/imagenes/cd.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor {
	position: relative;
	height: 700px;
}

header .menu {
	width: 100%;
	text-align:left;
}

header .menu a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

header .menu a:hover {
	text-decoration: underline;
}
/* cajas*/
.caja{
    
    padding-top: 2px;
    width: 250px;
    height: 250px;
    /* background: rgb(99, 17, 17); */
  
    margin: 10px;
    color: rgb(255, 249, 255);
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 10px 16px 48px #e1e7e2;
}
.cajas{
    text-align: center;
    border: 3px double rgb(245, 245, 245);
    margin-top: 30px;
    
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
.caja:hover{
    transform: scale(1.10);
}
/* Footer */
img.imgss:hover{
    transform: scale(1.55);
    
  
}
img.imgss{
   border-radius: 22px;
   box-shadow: 8px 12px 33px #c51f1f;
   
}
.csm{
   text-align: center;
   padding-top: 5px;
   padding-bottom:5px;
}
.csm li{
   display:inline-table;
}
.csm a{
   padding:10px;
}
.redes{
   /* background: #000000; */
   background-image:   url("https://static.vecteezy.com/system/resources/previews/002/832/705/non_2x/dark-blue-red-background-with-bubbles-abstract-illustration-with-colorful-spots-in-nature-style-pattern-for-wallpapers-curtains-vector.jpg");
   width: 100%;
   float: left;
   font-size: 1em;
   text-align: center;
   padding: 10px;
   border-radius: 22px;
   border-style: double ;
   border-color: rgb(69, 69, 75);
   
}
 ul {
   list-style: none;
   padding-left: 0;
 }
 footer {
   background-color: #555;
   color: #bbb;
   line-height: 1.5;
   border-radius: 20px;
 }
 footer a {
   text-decoration: none;
   color: #eee;
 }
 .tabla{
     text-align: center;
     margin:0 auto
 }
 .direccions{
     width: 25%;
 }
 .tabla p{
     padding-top: 7px;
 }
 main{
     width: 65%;
     float: right;
 }
 aside{
     margin-top: 30px;
     margin-left: 20px;
     padding-top: 30px;
    
     width: 30%;
     float: left;
 }
 .imgaside{
     
width: 100%;
 }
 .tabla h2{
     color: white;
 
 }